@media (min-width: 767px) {
    .header img:first-child {
        padding-top: 280px;
    }

    .header img:last-child {
        padding-top: 210px;
    }

    .bordered {
        max-width: 680px;
        margin: 140px auto;
        padding: 70px 140px;
    }
    .our-works a {
        max-width: 33%;
    }
}
@media (min-width: 992px) {
    .bordered {
        max-width: 970px;
    }

}
