@media (min-width: 676px) {
    .header img:first-child {
        padding-top: 280px;
    }

    .header img:last-child {
        padding-top: 210px;
    }

    .bordered {
        max-width: 970px;
        margin: 140px auto;
        padding: 70px 140px;
    }
}